# XML exercise

Using data from [**mondial database**](https://drive.google.com/file/d/14lFT4nWHgwN36ij4XZh6OUuup-K9qLgR/view?usp=sharing) find the answers to following questions:

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [31]:
import xml.etree.ElementTree as ET

import pandas as pd

tree = ET.parse('data/mondial.xml')

root = tree.getroot()
root

In [6]:
print(root.tag)
print(root.attrib)
print(len(root))

mondial
{}
3403

In [27]:
root[0].tag

'country'

In [56]:
mortality_dict = {}

countries = []
inf_mort_rates = []

for country in root.findall("country"):
    try:
        inf_mort_rates.append(float(country.find('infant_mortality').text))
        countries.append(str(country.find("name").text))
    except AttributeError:
        continue

country_mortality = {
    "countries" : countries,
    "inf_mort_rates": inf_mort_rates
}

## 1. 10 countries with the lowest infant mortality rates

mort_df["countries"].astype("string")

mort_df = pd.DataFrame(country_mortality)

mort_df.sort_values(by='inf_mort_rates')[0:10]

          countries  inf_mort_rates
36           Monaco            1.81
90            Japan            2.13
109         Bermuda            2.48
34           Norway            2.48
98        Singapore            2.53
35           Sweden            2.60
8    Czech Republic            2.63
6             Spain            2.70
72        Hong Kong            2.73
73            Macao            3.13

In [75]:
country_mortality

{'countries': ['Albania',
  'Greece',
  'North Macedonia',
  'Serbia',
  'Andorra',
  'France',
  'Spain',
  'Austria',
  'Czech Republic',
  'Germany',
  'Hungary',
  'Italy',
  'Liechtenstein',
  'Slovakia',
  'Slovenia',
  'Switzerland',
  'Belarus',
  'Latvia',
  'Lithuania',
  'Poland',
  'Ukraine',
  'Russia',
  'Belgium',
  'Luxembourg',
  'Netherlands',
  'Bosnia and Herzegovina',
  'Croatia',
  'Bulgaria',
  'Romania',
  'Turkey',
  'Denmark',
  'Estonia',
  'Faroe Islands',
  'Finland',
  'Norway',
  'Sweden',
  'Monaco',
  'Gibraltar',
  'Guernsey',
  'Iceland',
  'Ireland',
  'San Marino',
  'Jersey',
  'Malta',
  'Isle of Man',
  'Moldova',
  'Portugal',
  'United Kingdom',
  'Afghanistan',
  'China',
  'Iran',
  'Pakistan',
  'Tajikistan',
  'Turkmenistan',
  'Uzbekistan',
  'Armenia',
  'Georgia',
  'Azerbaijan',
  'Bahrain',
  'Bangladesh',
  'Myanmar',
  'India',
  'Bhutan',
  'Brunei',
  'Malaysia',
  'Laos',
  'Thailand',
  'Cambodia',
  'Vietnam',
  'Kazakhstan',
  'North Korea',
  'Kyrgyzstan',
  'Hong Kong',
  'Macao',
  'Mongolia',
  'Nepal',
  'Cyprus',
  'Gaza Strip',
  'Israel',
  'Egypt',
  'Indonesia',
  'Timor-Leste',
  'Papua New Guinea',
  'Iraq',
  'Jordan',
  'Kuwait',
  'Saudi Arabia',
  'Syria',
  'Lebanon',
  'West Bank',
  'Japan',
  'South Korea',
  'Maldives',
  'Oman',
  'United Arab Emirates',
  'Yemen',
  'Philippines',
  'Qatar',
  'Singapore',
  'Sri Lanka',
  'Taiwan',
  'Anguilla',
  'Antigua and Barbuda',
  'Aruba',
  'Bahamas',
  'Barbados',
  'Belize',
  'Guatemala',
  'Mexico',
  'Bermuda',
  'British Virgin Islands',
  'Canada',
  'United States',
  'Cayman Islands',
  'Costa Rica',
  'Nicaragua',
  'Panama',
  'Cuba',
  'Dominica',
  'Dominican Republic',
  'Haiti',
  'El Salvador',
  'Honduras',
  'Greenland',
  'Grenada',
  'Guadeloupe',
  'Jamaica',
  'Martinique',
  'Montserrat',
  'Sint Maarten',
  'Colombia',
  'Puerto Rico',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Pierre and Miquelon',
  'Saint Vincent and the Grenadines',
  'Trinidad and Tobago',
  'Turks and Caicos Islands',
  'Virgin Islands',
  'American Samoa',
  'Australia',
  'Cook Islands',
  'Fiji',
  'French Polynesia',
  'Guam',
  'Kiribati',
  'Marshall Islands',
  'Micronesia',
  'Nauru',
  'New Caledonia',
  'New Zealand',
  'Northern Mariana Islands',
  'Palau',
  'Solomon Islands',
  'Tonga',
  'Tuvalu',
  'Vanuatu',
  'Wallis and Futuna',
  'Samoa',
  'Argentina',
  'Bolivia',
  'Brazil',
  'Chile',
  'Paraguay',
  'Uruguay',
  'Peru',
  'French Guiana',
  'Guyana',
  'Suriname',
  'Venezuela',
  'Ecuador',
  'Algeria',
  'Libya',
  'Mali',
  'Mauritania',
  'Morocco',
  'Niger',
  'Tunisia',
  'Western Sahara',
  'Angola',
  'Congo',
  'Namibia',
  'Zaire',
  'Zambia',
  'Benin',
  'Burkina Faso',
  'Nigeria',
  'Togo',
  'Botswana',
  'South Africa',
  'Zimbabwe',
  "Cote d'Ivoire",
  'Ghana',
  'Burundi',
  'Rwanda',
  'Tanzania',
  'Cameroon',
  'Central African Republic',
  'Chad',
  'Equatorial Guinea',
  'Gabon',
  'Cape Verde',
  'Sudan',
  'South Sudan',
  'Comoros',
  'Guinea',
  'Liberia',
  'Djibouti',
  'Eritrea',
  'Ethiopia',
  'Somalia',
  'Kenya',
  'Gambia',
  'Senegal',
  'Guinea-Bissau',
  'Sierra Leone',
  'Uganda',
  'Lesotho',
  'Madagascar',
  'Malawi',
  'Mozambique',
  'Mauritius',
  'Mayotte',
  'Swaziland',
  'Reunion',
  'Saint Helena',
  'Sao Tome and Principe',
  'Seychelles'],
 'inf_mort_rates': [13.19,
  4.78,
  7.9,
  6.16,
  3.69,
  3.31,
  2.7,
  4.16,
  2.63,
  3.46,
  5.09,
  3.31,
  4.33,
  5.35,
  4.04,
  3.73,
  3.64,
  7.91,
  6.0,
  6.19,
  8.1,
  7.08,
  4.18,
  4.28,
  3.66,
  5.84,
  5.87,
  15.08,
  10.16,
  21.43,
  4.1,
  6.7,
  5.71,
  3.36,
  2.48,
  2.6,
  1.81,
  6.29,
  3.47,
  3.15,
  3.74,
  4.52,
  3.86,
  3.59,
  4.17,
  12.93,
  4.48,
  4.44,
  117.23,
  14.79,
  39.0,
  57.48,
  35.03,
  38.13,
  19.84,
  13.97,
  16.68,
  26.67,
  9.68,
  45.67,
  44.91,
  43.19,
  37.89,
  10.48,
  13.69,
  54.53,
  9.86,
  51.36,
  18.99,
  21.61,
  24.5,
  28.71,
  2.73,
  3.13,
  23.15,
  40.43,
  8.54,
  30.6,
  3.98,
  22.41,
  25.16,
  38.79,
  39.67,
  37.53,
  15.73,
  7.51,
  14.58,
  15.79,
  7.98,
  28.6,
  2.13,
  3.93,
  24.59,
  14.0,
  10.92,
  50.41,
  17.64,
  6.42,
  2.53,
  9.02,
  4.49,
  3.4,
  13.29,
  11.74,
  12.5,
  10.93,
  20.31,
  23.51,
  12.58,
  2.48,
  13.45,
  4.71,
  6.17,
  6.21,
  8.7,
  20.36,
  10.7,
  4.7,
  11.61,
  19.63,
  49.43,
  18.44,
  18.72,
  9.42,
  10.5,
  8.3,
  13.69,
  7.1,
  13.66,
  9.05,
  15.02,
  7.73,
  8.98,
  11.75,
  6.95,
  13.07,
  24.82,
  10.97,
  6.79,
  8.92,
  4.43,
  14.33,
  10.2,
  4.78,
  5.51,
  35.37,
  21.39,
  21.93,
  8.21,
  5.46,
  4.59,
  5.5,
  11.46,
  16.17,
  12.36,
  31.69,
  16.41,
  4.49,
  20.5,
  9.96,
  38.61,
  19.21,
  7.02,
  20.75,
  8.97,
  20.21,
  14.6,
  33.56,
  27.07,
  19.33,
  17.93,
  21.76,
  11.87,
  104.34,
  56.06,
  24.52,
  86.27,
  23.19,
  145.82,
  79.99,
  59.34,
  45.64,
  73.15,
  66.62,
  57.09,
  76.8,
  74.09,
  46.73,
  9.38,
  41.61,
  26.55,
  60.16,
  38.52,
  63.44,
  59.59,
  43.74,
  55.1,
  92.86,
  90.3,
  71.12,
  47.03,
  24.28,
  52.86,
  68.16,
  65.31,
  55.24,
  69.19,
  50.2,
  38.44,
  55.77,
  100.14,
  40.71,
  65.74,
  52.72,
  90.92,
  73.29,
  60.82,
  50.48,
  44.88,
  48.01,
  72.42,
  10.59,
  56.29,
  54.82,
  7.5,
  17.63,
  49.16,
  10.77]}

In [86]:
# 2. 10 cities with the largest population
cities_pop = {}
cities_pop["city"] = []
cities_pop["population"] = []

for country in root.findall("country"):
    for city in country.findall("city"):
        # find name and add to dict
        city_name = city.find("name").text
        cities_pop["city"].append(city_name)
        for pop in city.findall("population"):
            #find city pop and append to list, temporary list
            temp_pop = []
            temp_pop.append(int(pop.text))
        # take most recent value, for a given country
        cities_pop["population"].append(temp_pop[-1])

In [91]:
# make a DF
pop_df = pd.DataFrame(cities_pop)

# sort and slice
pop_df.sort_values(by='population', ascending=False)[0:10]

                city  population
155            Seoul     9805506
143       Al Qahirah     8471859
77           Bangkok     8305218
108            Macao     7055071
107        Hong Kong     7055071
191        Singapore     5076700
142  Al Iskandariyah     4123869
195       New Taipei     3939305
156            Busan     3440484
86         Pyongyang     3255288

In [1]:
# 3. name and country of a) longest river, b) largest lake and c) airport at highest elevation

# make bins
features = {}
features['country'] = []
features['longest river'] = []
features['largest lake'] = []
features['airport elevation'] = []

# for country in root.findall('country'):

rivers = root.find("river")
rivers.

NameError: name 'root' is not defined